__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.csv
*.h5
*.onnx
*.tflite
*.pb
*.pt
*.pth
*.ckpt
*.tar
*.tar.gz
*.zip
*.egg-info/
.env
.venv/
env/
venv/
ENV/
build/
dist/
.ipynb_checkpoints/
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
